<div class="container">

  <p>Click the button to start a new board</p>
  <p>
    <a href="/new" class="button">New board</a>
  </p>
</div>

<%= if Enum.count(@boards) > 0 do %>
  <p style="text-align: center">Or join one of the boards below:</p>
<% end %>

<div class="boards">
  <%= for board <- @boards do %>
    <div class="board-thumb">
      <a href="/board/<%= board.id %>" class="thumbnail">
        <img src="<%= board.image %>" />
      </a>
    </div>
  <% end %>
</div>
